[Desktop Entry]
Name=Pytigon DevTools
Comment=Pytigon developer tools
Exec=ptig.devtools
Icon=${SNAP}/meta/gui/ptig.png
StartupNotify=true
Categories=Development;
Type=Application
