__pycache__/
*.py[cod]

pip-log.txt
pip-delete-this-directory.txt
launch.json
extensions.json
*global_db_settings.py
settings_app_local.py

build
dist

.cache
.idea/
*/.gradle/
migrations/

*.mo
*.pkl
*.pid
*.log
*.whl
*.tar.gz
*.egg*
*.so
*.AppImage

pytigon-docker/build.sh
